# Needed since we mount the notebooks dir as a docker volume
**/.Trash-0/*
**/.ipynb_checkpoints
**/__pycache__/
**/cifar10_data/
**/fashionmnist_data/
**/models/
**/runs/
**/venv/
**/_build/
**/exported/
**/render.svg
**/renders/
**/*.mp4
**/*.pt